<div id="page-top">
  <!-- Page Wrapper -->
  <div id="wrapper">

    <app-sidebar></app-sidebar> <!-- Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
      
      <div id="content"> <!-- Main Content -->
        
        <app-navbar></app-navbar> <!-- Topbar -->

        <!-- Begin Page Content -->
        <div class="container-fluid">
          <router-outlet></router-outlet>
          <a 
            class="collapse-item" 
            routerLink="./bodega"
          >Bodega</a>
          <a 
            class="collapse-item active" 
            routerLink="./productos"
          >Producto</a>
          <a 
            class="collapse-item active"
            routerLink="./suministros"
          >Suministros</a>
          <div class="collapse-divider"></div> 
        </div> <!-- /.container-fluid -->

      </div> <!-- End of Main Content -->
      
      <app-footer></app-footer> <!-- Footer -->
    </div> <!-- End of Content Wrapper -->
  </div> <!-- End of Page Wrapper -->
  

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <app-logout-modal></app-logout-modal> <!-- Logout Modal-->
  
</div>
