<h1 mat-dialog-title>Comprar {{data.name}}</h1>
<main mat-dialog-content class="px-0 px-sm-auto">
  <mat-stepper
    class="example-stepper"
    (selectionChange)="onStepChange($event)"
    [orientation]="(stepperOrientation | async)!"
    #stepper
  >
    <!-- Primer Paso -->
    <mat-step
      [stepControl]="firstFormGroup" 
      label="Escoge la Cantidad" errorMessage="Llena la cantidad"
    >
      <ng-template matStepContent>
        <form [formGroup]="firstFormGroup">
          <div class="card wdth-L border-gray border" > <!-- Cards -->
            <div class="row g-0">
              <div class="col my-auto col-4 col-sm-4 col-md-3 pe-0" > 
                <img
                    class="img-fluid shade rounded my-2 m-0"
                    [src]="data.image.url"
                    alt="{{data.name}} - {{data.category}}"
                    (load)="data.image.loading = false"
                    onerror="this.src='../assets/img/Artboard.svg'"
                  >
                  <mat-progress-bar *ngIf="data.image.loading" mode="indeterminate"></mat-progress-bar>
              </div>
              <div class="col overflow-auto col-6 col-sm-6 col-md-7" >
                <div class="card-body px-0 px-sm-auto py-auto" >
                  <h2 class="card-title fs-4 fw-semibold">{{ data.name }}</h2>
                  <p class="card-text text-body-secondary">
                      Existen: {{data.quantitys}}
                    </p>
                  <div>
                    <span class="me-3">
                      <i class="bi bi-tag tag align-middle"></i>{{data.category}}
                    </span>
                    <span [innerHTML]="data.status | badges"></span>
                  </div>
                </div>
              </div>
              <div class="col m-auto px-0 px-sm-auto col-2 col-sm-2 col-md-2">
                <div class="row gap-4 align-items-center" >
                  <span class="col-12 fs-5 px-0 px-sm-auto text-secondary-emphasis price align-self-start">
                    ${{data.price}} 
                  </span>
                  <div class="col-12 price px-0 px-sm-auto align-self-end">
                    <button
                      matRipple
                      type="button"
                      class="btn btn-light border-gray shade"
                      (click)="disminuir()"
                    >
                      <span class="icon text-black">
                        <i class="bi bi-dash-lg"></i>
                      </span>
                    </button>
                    <button
                      matRipple
                      type="button"
                      class="btn btn-light border-gray shade"
                      (click)="aumentar()"
                    >
                      <span class="icon text-black">
                        <i class="bi bi-plus-lg"></i>
                      </span>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="border mt-2 rounded border-gray"><!-- Div Costo Total -->
            <h3 class="border-bottom fs-6 fw-bold border-gray mx-2 px-2 mb-2">Cuenta:</h3>
            <div class="ms-2 p-1">
              <p class="m-0">Precio:          ${{compra.precio}}</p>
              <p class="m-0">Cantidad:  
                <input class="w-min" matInput placeholder="3" formControlName="cantidad" readonly>
              </p>
              <p >Iva {{compra.iva}}% :  {{compra.valorIva}}</p>
              <p class="fw-bold fs-6">Total: <span class="fs-5">${{compra.precioTotal}}</span></p>
              <div *ngIf="warning" class="bg-danger rounded">
                <h3 class="fs-5 text-white p-0 text-center">No se puede {{message()}} más la cantidad</h3>
              </div>
            </div>
          </div>
          
          
          <div>
            <button mat-button matStepperNext>Next</button>
          </div>
        </form>
      </ng-template>
    </mat-step><!-- Fin Primer Paso --> 
    <!-- Segundo Paso -->
    <mat-step 
      [stepControl]="secondFormGroup" 
      label="Escoge el Cliente" errorMessage="Llena el Cliente"
    >
      <ng-template matStepContent>
        <form [formGroup]="secondFormGroup"
          
        >
          <div class="col px-0 px-sm-auto">
            <mat-form-field appearance="outline"><!-- Buscador Cliente -->
              <mat-label>Buscar Usuario</mat-label>
              <input matInput 
                [formControl]="searchTerm"
                [matAutocomplete]="auto"
                placeholder="Buscar...">
              <mat-autocomplete #auto="matAutocomplete">
                <mat-option 
                  *ngFor="let option of filteredClients | async" 
                  [value]="option.nombreCliente +' '+ option.apellidosCliente"
                  (onSelectionChange)="selecction(option)"
                >
                  {{option.nombreCliente}} {{option.apellidosCliente}}
                </mat-option>
              </mat-autocomplete>
              <mat-icon matSuffix>search</mat-icon>
            </mat-form-field>
          </div><!-- Fin Buscador Cliente -->
          <div class="row mx-3">
            <div class="col-md-6">
              <mat-form-field appearance="outline">
                  <mat-label>Número de Documento</mat-label>
                  <input formControlName="numDoc" matInput placeholder="Número de Documento" readonly> 
              </mat-form-field>
            </div>

            <div class="col-md-6">
              <mat-form-field appearance="outline">
                  <mat-label>Teléfono</mat-label>
                  <input formControlName="telefono" matInput placeholder="Teléfono" readonly>
              </mat-form-field>
          </div>

            <div class="col-md-6">
                <mat-form-field appearance="outline">
                    <mat-label>Nombre</mat-label>
                    <input formControlName="nombre" matInput placeholder="Nombre" readonly>
                </mat-form-field>
            </div>

            <div class="col-md-6">
                <mat-form-field appearance="outline">
                    <mat-label>Apellido</mat-label>
                    <input formControlName="apellido" matInput placeholder="Apellido" readonly>
                </mat-form-field>
            </div>

            <div class="col-md-6">
                <mat-form-field appearance="outline">
                    <mat-label>Dirección</mat-label>
                    <input formControlName="direccion" matInput placeholder="Dirección" readonly>
                </mat-form-field>
            </div>

            <div class="col-md-6">
                <mat-form-field appearance="outline">
                    <mat-label>Correo (Opcional)</mat-label>
                    <input formControlName="correo" matInput placeholder="Correo (Opcional)" readonly>

                </mat-form-field>
            </div>
          </div>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
          </div>
        </form>
      </ng-template>
    </mat-step> <!-- Fin Segundo Paso -->
    <!-- Tercer Paso -->
    <mat-step [stepControl]="thirdFormGroup" label="Fill out your phone number">
      <ng-template matStepLabel>Done</ng-template>
        <p>You are now done.</p> 
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button (click)="stepper.reset()" (click)="reset()">Reset</button>
        </div>
    </mat-step> <!-- Fin Tercer Paso -->

  </mat-stepper>
  
</main>
<mat-dialog-actions align="end">
  <button mat-button (click)="onNoClick()">No, Gracias</button>
  <button mat-button 
    class="btn-success" 
    [disabled]="!firstFormGroup.valid || !secondFormGroup.valid || !thirdFormGroup.valid"
    [mat-dialog-close]="data"
    (click)="comprar()"
  >Comprar</button>
</mat-dialog-actions>
