.mat-header-cell{
    background-color:#0d49a1;
    padding: 1rem;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
}

.mat-cell{
    padding: 1rem;
    font-size: 1rem;
}

.color-sort-header-arrow-white {
  .mat-sort-header-arrow {
    color: #fff;
  }
}

.cell_options{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .5rem;
}