.margin{
    margin-top: 10px;
}

.mat-form-field{
    width: 100%;
    margin: 5px;
}

.btn{
margin-right: 20px;
margin-top: 20px;

}

.modal-body{
    height: 550px;
    width: 100%;
    overflow-y: auto;
  }


  

