<!-- Begin Page Content -->
<div class="container-fluid">
  <!-- 404 Error Text -->
  <div class="text-center">
    <div class="row">
      <div class="error mx-5 mx-sm-0 mx-md-auto col-sm-12 col-md-5 text-center text-sm-end text-md-right">
        <i class="bi bi-x-octagon-fill"></i>
      </div>
      <div class="mx-0 mx-md-auto col-sm-12 col-md-7 text-sm-center text-md-start">
        <div class="error mx-sm-auto mx-md-0"  data-text="404">
          <span class="">404</span>
        </div>
      </div>
    </div>
    <p class="lead text-gray-800 mb-5">Página NO encontrada</p>
    <p class="text-gray-500 mb-0">
      Parece que has encontrado un fallo en la matriz...
    </p>
    <a routerLink="/dasboard">&larr; Intenta volver al login</a>
  </div>
</div>
<!-- /.container-fluid -->