.selected {
  background-color: #3158C9;
  color: black;
}

.box{
  box-sizing: border-box;
}

/* Estilos por defecto */
div.card.wdth-G {
  width: 100%;
}

div.card.wdth-L {
  width: calc(50% - 1%);
}
.price{
  padding: auto;
}

.w50{ width: 50px; }
.h50{ height: 50px; }
.btnAdd{ 
  box-sizing: content-box;
  width: auto;
  height: auto;
}

.btn-primary{
  background-color: #2e59d9 !important;
}

.btn-success{
  background-color: #16833D !important;
}

.mat-icon{
  font-size: 25px;
}

/* Media query para pantallas mayores a xl */
@media (min-width: 1200px) {
  div.card.wdth-G {
    width: 24%;
  }
}

/* Media query para pantallas mayores a lg y menores que xl */
@media (min-width: 992px) and (max-width: 1199px) {
  div.card.wdth-G    {
    width: 32%;
  }
}

/* Media query para pantallas mayores a md y menores que lg */
@media (min-width: 768px) and (max-width: 991px) {
  div.card.wdth-G {
    width: 49%;
  }
}

/* Media query para pantallas mayores a sm y menores que md */
@media (min-width: 576px) and (max-width: 767px){
  div.card.wdth-G {
    width: 100%;
  }
  div.card.wdth-L {
    width: calc(100%);
  }
}

/* Media query para pantallas menores a sm*/
@media (max-width: 575px) {
  div.card.wdth-G {
    width: 100%;
  }
  div.card.wdth-L {
    width: calc(100%);
  }
  span.price{
    padding: 0 !important;
  }
}

.tag{
  font-size: 1.3rem;
  margin-right: 5px;
}

.img-w{
  margin: 0 auto;
  max-width: 180px;
  max-height: 130px;
}

.border-gray{
  border-color: #c3c4c5 !important;
}

.width-dialog {
  width: 90vw;
}

@media (max-width: 575.98px) {
  .width-dialog {
    width: 90vw;
  }
}

@media (min-width: 576px) {
  .width-dialog {
    width: 80vw;
  }
}

@media (min-width: 768px) {
  .width-dialog {
    width: 70vw;
  }
}

@media (min-width: 992px) {
  .width-dialog {
    width: 20vw;
  }
}
  