table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.Scroll{
  overflow: auto;
}
th, td{
  width: 5%;
}



.title{
  background-color: skyblue;
  text-align: center;
  padding: 25px;
  color: white;
}
.pointer{
cursor: pointer;
margin-right: 10px;
}

.margin{
  margin: 10px;
  
}
  