.container_modal_eliminar{
    display: flex;
    justify-content: center;
    align-items: center;;
    gap: 1rem;
}

.container_modal_eliminar p{
    margin: 0;
    font-weight: bold;
}

.container_modal_buttons{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: .5rem;
}