<div class="px-2">
    <app-title-card titulo="Historial Clinico de Connie"></app-title-card>
    <!-- contenedor principal-->
    <div class="px-2">
        <!-- contenedor de todoas los cards -->
        <div class="card container_card p-lg-4">
            <!-- Contnedor de la card -->
            <div class="card mb-3">   
                <div class="card-body">
                    <div class="card-body-icon">
                        <i class="bi bi-file-text"></i>
                    </div>
                    <div class="card-body-text">
                        <h2>Historial clinico # 1</h2> 
                        <h4>Fecha: 29/06/2023</h4>
                    </div>
                </div>
                <button class="btn btn-primary">Ver Detalles</button>
            </div>      
            <div class="card mb-3">   
                <div class="card-body">
                    <div class="card-body-icon">
                        <i class="bi bi-file-text"></i>
                    </div>
                    <div class="card-body-text">
                        <h2>Historial clinico # 1</h2> 
                        <h4>Fecha: 29/06/2023</h4>
                    </div>
                </div>
                <button class="btn btn-primary">Ver Detalles</button>
            </div>
            <div class="card mb-3">   
                <div class="card-body">
                    <div class="card-body-icon">
                        <i class="bi bi-file-text"></i>
                    </div>
                    <div class="card-body-text">
                        <h2>Historial clinico # 1</h2> 
                        <h4>Fecha: 29/06/2023</h4>
                    </div>
                </div>
                <button class="btn btn-primary">Ver Detalles</button>
            </div>     
            <div class="card mb-3">   
                <div class="card-body">
                    <div class="card-body-icon">
                        <i class="bi bi-file-text"></i>
                    </div>
                    <div class="card-body-text">
                        <h2>Historial clinico # 1</h2> 
                        <h4>Fecha: 29/06/2023</h4>
                    </div>
                </div>
                <button class="btn btn-primary">Ver Detalles</button>
            </div>     
            <div class="card mb-3">   
                <div class="card-body">
                    <div class="card-body-icon">
                        <i class="bi bi-file-text"></i>
                    </div>
                    <div class="card-body-text">
                        <h2>Historial clinico # 1</h2> 
                        <h4>Fecha: 29/06/2023</h4>
                    </div>
                </div>
                <button class="btn btn-primary">Ver Detalles</button>
            </div>          
        </div>
    </div>
</div>



