<!-- Botón cerrar modal -->
<app-boton-cerrar-modal [dialogRef]="dialogRefDetallerHosp"></app-boton-cerrar-modal>
<section class="container_datails">
    <!-- Detalles Paciente -->
    <div class="container_detail">
        <div class="detail_title">
            <div class="detail_icon">
                <mat-icon>pets</mat-icon> 
            </div>
            <h2>Detalles paciente</h2>
        </div>
        <div class="detail_body">
            <div class="detail_text">
                <h3>Nombre: </h3>
                <p>{{ hospitalizacion.paciente.nombrePaciente }}</p>
            </div>
            <div class="detail_text">
                <h3>Tipo: </h3>
                <p>{{ hospitalizacion.paciente.tipoPaciente.tipoPaciente }}</p>
            </div>
            <div class="detail_text">
                <h3>raza: </h3>
                <p>{{ hospitalizacion.paciente.raza }}</p>
            </div>
            <div class="detail_text">
                <h3>Fecha Nacimiento: </h3>
                <p>{{ hospitalizacion.paciente.fechaNac | date}}</p>
            </div>
            <div class="detail_text">
                <h3>Edad: </h3>
                <p>{{ hospitalizacion.paciente.edad }}</p>
            </div>
            <div class="detail_text">
                <h3>Sexo: </h3>
                <p>{{ hospitalizacion.paciente.sexo }}</p>
            </div>
        </div>
    </div>
    <!-- Detalles Hospitalizacion -->
    <div class="container_detail">
        <div class="detail_title">
            <div class="detail_icon">
                <mat-icon> local_hospital</mat-icon>
            </div>
            <h2>Detalles Hospitalización</h2>
        </div>
        <div class="detail_body">
            <div class="detail_text">
                <h3>Motivo:</h3>
                <p>{{ hospitalizacion.motivo }}</p>
            </div>
            <div class="detail_text">
                <h3>Fecha de Ingreso:</h3>
                <p>{{ hospitalizacion.fechaIngreso | date}}</p>
            </div>
            <div class="detail_text">
                <h3>Fecha de salida:</h3>
                <p>{{ hospitalizacion.fechaSalida | date}}</p>
            </div>
        </div>
    </div>
    <!-- Detalles Cirugía -->
    <div class="container_detail">
        <div class="detail_title">
            <div class="detail_icon">
               <i class="bi bi-bandaid-fill"></i>
            </div>
            <h2>Detalles Cirugía</h2>
        </div>
        <div class="detail_body">
            <div class="detail_text">
                <h3>Tipo de cirugía</h3>
                <p>Reparación de fractura</p>
            </div>
            <div class="detail_text">
                <h3>Doctor encargado:</h3>
                <p>Juan Ramirez</p>
            </div>
            <div class="detail_text">
                <h3>Fecha Programada:</h3>
                <p>2023-07-14</p>
            </div>
        </div>
    </div>
</section>