<h1> Probando Rutas</h1>
<div>
    <h2>MODULO DE GESTION DE CLIENTES Y PACIENTES</h2>
<ul>
    <H4>RUTAS CLIENTES</H4>
    <li>
        <a routerLink="/cliente/listado">
            Ir a listado de clientes
        </a>

    </li>
    <li>
        <a routerLink="/cliente/agregar">
            Ir a agregar de clientes
        </a>

    </li> 
    <li>
        <a routerLink="/cliente/editar/:id">
            editar/:id
        </a>

    </li>

<H4> RUTAS PACIENTE</H4>
    <li>
        <a routerLink="/paciente/listado">
            Ir a listado de clientes
        </a>

    </li>
    <li>
        <a routerLink="/paciente/agregar">
            Ir a agregar de clientes
        </a>

    </li> 
    <li>
        <a routerLink="/paciente/editar/:id">
            editar/:id
        </a>

    </li>
   
    
</ul>

</div>

<div>
    <h2>MODULO DE HISTORIA CLINICA Y GESTION DE CITA</h2>
<ul>
    // RUTAS CITAS
    <li>
        <a routerLink="/cita/listado">
            Ir a listado de clientes
        </a>

    </li>
    <li>
        <a routerLink="/cita/agregar">
            Ir a agregar de clientes
        </a>

    </li> 
    <li>
        <a routerLink="/cita/editar/:id">
            editar/:id
        </a>

    </li>

   
   
    
</ul>

</div>