.container_select{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.container_select, 
table{
  font-size: 1rem;
}

.container_pagination{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  gap: 1rem;
}

.container_buttons_navigation{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: .5rem;
}

.container_buttons_navigation button{
  width: max-content;
}
