<h1 mat-dialog-title>Editar Suministro</h1>
<div mat-dialog-content>
  <form [formGroup]="myForm" (ngSubmit)="submit()">
    <p>Detalles del Suministro</p>
  
    <div class="container vw-60">
      <div class="row">
        <div class="col-sm-5">
          <mat-form-field class="w-100" appearance="outline"><!-- ID -->
            <mat-label>ID:</mat-label>
            <input 
              matInput 
              required
              placeholder="#124"
              formControlName="id"
              readonly
              (input)="checkID()"
            >
            <button 
              *ngIf="checkData.id"
              matSuffix 
              mat-icon-button
              type="button"
              aria-label="Clear" 
              (click)="clearID()"
            >
              <mat-icon>close</mat-icon>
            </button>
            <mat-error 
              class="custom-error" 
            >
              {{checklabel.id}}
            </mat-error>  
          </mat-form-field>
          
        </div>
        <div class="col-sm-7">
          <mat-form-field class="w-100" appearance="outline"><!-- Name -->
            <mat-label>Nombre:</mat-label>
            <input 
              matInput
              required
              type="text"
              placeholder="Reloj Negro metalico" 
              formControlName="name"
              (input)="checkName()"
            >
            <button 
              *ngIf="checkData.name"
              matSuffix 
              mat-icon-button 
              type="button"
              aria-label="Clear" 
              (click)="clearName()"
            >
              <mat-icon>close</mat-icon>
            </button>
            <mat-error 
              class="custom-error" 
            >
              {{checklabel.name}}
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12 w-100">
          <div class="w-img mx-auto my-2">
            <img 
              *ngIf="comprobandoUrl; else king"
              [src]="imgPreview"
              class="rounded mx-auto d-block img-fluid mw-100"
              alt="Imagen Preview"
            >
            <ng-template #king>
              <img 
                src="../assets/img/Artboard.svg"
                class="rounded mx-auto d-block img-fluid mw-100"
                alt="Imagen en blanco"
              >
            </ng-template>
          </div>
          
          <mat-form-field class="w-100" appearance="outline"><!-- Imagen -->
            <mat-label>Imagen - Url:</mat-label>
            <input 
              matInput
              required
              type="url"
              placeholder="www.url.com/img/1.jpg" 
              formControlName="image"
              (input)="checkImage()"
            >
            <button 
              *ngIf="checkData.image"
              matSuffix 
              mat-icon-button
              type="button"
              aria-label="Clear" 
              (click)="clearImage()"
            >
              <mat-icon>close</mat-icon>
            </button>
            <mat-error 
              class="custom-error" 
            >
              {{checklabel.name}}
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      
      <div class="row">
        <div class="col-sm-12 w-100">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Estatus:</mat-label>
            <mat-select 
              required
              formControlName="status"
            >
              <mat-select-trigger>
                <div [innerHTML]="myForm.get('status')!.value||'' | badges"></div>
              </mat-select-trigger>
              <mat-option selec [value]="option.value" *ngFor="let option of Types">
                <div [innerHTML]="option.viewValue | badges"></div>
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <label id="example-radio-group-label">Elige tu Categoria:</label>
          <mat-radio-group
            aria-labelledby="radio-group-of-Category"
            class="row  row-cols-sm-2 row-cols-md-2 row-cols-lg-2 row-cols-xl-2"
            formControlName="category"
          >
            <mat-radio-button class="my-2 col" *ngFor="let category of categorys" [value]="category">
              {{category}}
            </mat-radio-button>
          </mat-radio-group>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6">
          <mat-form-field class="w-100" appearance="outline"><!-- Precio -->
            <mat-label>Precio:</mat-label>
            <input 
              matInput
              required
              min="0"
              placeholder="150"
              formControlName="price"
              (input)="checkPrice()"
            >
            <button 
              *ngIf="checkData.price" 
              matSuffix mat-icon-button 
              type="button"
              aria-label="Clear" 
              (click)="clearPrice()"
            >
              <mat-icon>close</mat-icon>
            </button>
            <mat-error 
              class="custom-error" 
            >
              {{checklabel.price}}
            </mat-error>
          </mat-form-field>
        </div>

        <div class="col-sm-6">
          <mat-form-field class="w-100" appearance="outline"><!-- Quantitys -->
            <mat-label>Cantidad:</mat-label>
            <input 
              matInput
              required
              min="0"
              placeholder="21" 
              formControlName="quantitys"
              (input)="checkQuantitys()"
            >
            <button 
              *ngIf="checkData.quantitys" 
              matSuffix mat-icon-button 
              type="button"
              aria-label="Clear" 
              (click)="clearQuantitys()"
            >
              <mat-icon>close</mat-icon>
            </button>
            <mat-error 
              class="custom-error" 
            >
              {{checklabel.quantitys}}  
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </div>
  </form>
</div>

<mat-dialog-actions align="end">
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <button 
    matRipple
    type="submit"
    class="btn btn-red btn-success shade"
    [disabled]="!comprueba"
    (click)="submit()"
    [mat-dialog-close]="data"
  >
    Ok
  </button>
</mat-dialog-actions>

